h1{
    color: rgb(12, 94, 12);
    background-color: rgb(223, 149, 120);
    font-size: 60px;
    height: fit-content;
    width: auto;
}

h2{
    color: rgb(12, 94, 12); 
    font-size: 30px;
}

h3{
    color: rgb(12, 94, 12);
    font-size:20px;
}

body{
    background-color: rgb(233, 220, 200);
}

img{
    width: 200px;
    height: 150px;
    border: 1px solid rgb(4, 39, 4);
    border-radius: 10px;
}